body{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
:root{
--main-color: #2196F3
}
.logo {
    color: var(--main-color);
}