
/* ----PALETTE---- */

:root{
--focus-color: #2196F3;
--logo-decoration-header: #000000;
--logo-decoration-footer: #FFFFFF;
--main-text: #757575;
--header-text: #212121;
--header-border: #ECECEC;
--background-default: #FFFFFF;
--background-additional: #F5F4FA;
--decoration-lines: #ECECEC;
--decoration-pic-frames: #EEEEEE;
--background-hero: #2F303A;
--hero-heading-text: #FFFFFF;
--button-active-text: #FFFFFF;
--button-hero-active: #188CE8;
--background-footer: #2F303A;
--footer-text-address: #ffffff;
--footer-text-contacts: rgba(255, 255, 255, 0.6);
}

/* ----GENERAL---- */
body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
li {
    list-style: none;
}
a {  
    text-decoration: none;
}
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--header-text);
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.button-reset {
    border: 0px;
    border-radius: 4px;
}

/* ----HEADER---- */
.header {
    border: 1px solid var(--header-border);
}
.header-logo {
    margin-right: 92px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
}
.header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}
.header-contacts-list {
    display: flex;
    align-items: center;
}
.header-contacts-list-item:not(:first-child) {
    margin-left: 50px;
}
.header-logo, .footer-logo {
        color: var(--focus-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
}
.logo-design {
    color: var(--logo-decoration-header);
}
.header-nav-list-item-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-text);
        text-decoration: none;
}
a.current {
    color: var(--focus-color);
}
.header-contacts-list-item-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text);
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-contacts-list-item-link:hover,
.header-contacts-list-item-link:focus {
    color: var(--focus-color);
}
/* ----HERO---- */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-hero);
    text-align: center;
}
.hero-heading {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--hero-heading-text)
}
.hero-button {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--focus-color);
    color: var(--button-active-text);
}
.hero-button:hover, .hero-button:focus {
    background-color: var(--button-hero-active);
}

/* ----FEATURES---- */
.features-list {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
}
.features-list-item {
    flex-basis: calc((100%-90px)/4);
}
.features-list-item:not(:last-child) {
    margin-right: 30px;
}
.features-list-heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ----WORKS---- */
.works {
    padding-bottom: 94px;
}
.works-heading {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.works-list {
    display: flex;
}
.works-list-item:not(:last-child) {
    margin-right: 30px;
}

/* ----TEAM---- */
.team {
    background-color: var(--background-additional);
    padding-bottom: 94px;
}
.team-heading {
    padding-top: 94px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list-item {
    background-color: var(--background-default);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-heading { 
    padding-top: 30px;  
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list-text {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
/* ----FOOTER---- */
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo-design {
    color: var(--logo-decoration-footer);
}
.footer-list {
    margin-top: 20px;
}
.footer-list-address {
    margin-bottom: 10px;
}
.footer-list-address-link {
    font-style: normal;
    color: var(--footer-text-address);
}
.footer-list-contacts-link {
    font-style: normal;
    color: var(--footer-text-contacts);
}
.footer-list-contacts:not(:last-child) {
    margin-bottom: 10px;
}


/* #############################PORTFOLIO############################ */

/* ----FILTR---- */

.filtr-heading {
    display: none;
}
.portfolio-filtr-list {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.portfolio-filtr-item:not(:last-child) {
    margin-left: 8px;
}
.portfolio-filtr-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-additional);
    color: var(--header-text);
}
.portfolio-filtr-button:hover, .portfolio-filtr-button:focus {
    background-color: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----GALLERY---- */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
    padding-bottom: 94px;
}
.gallery-list-item {
    margin-bottom: 30px;
    margin-left: 30px;
    border: 1px solid var(--decoration-pic-frames);
}
.gallery-heading {
    display: none;
}

.gallery-list-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
.gallery-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text);
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}